*{
    box-sizing: border-box; margin: 0; 
    } 
    body {
        font-family: sans-serif;
    } 
    header {
        background-color: blue;
        color: white;
        text-align: center;
        padding: 20px;
    } 
    nav {
        float: left;
        background-color: gold;
        width: 30%;
        height: 650px;
        padding: 20px;
    } 
    p{
        padding: 33px;
        background-color: rgb(140, 255, 0);
    }
    article {
        background-color: whitesmoke;
        float: left;
        width: 70%;
        padding: 20px;
    }
    section.masterSection {
        float: left;
        background-color: gold;
    }
    section.imgSection{
        padding: 33px;
        float: left;
        background-color: gold;
        border-style:double;
    } 
    table{
        float:left;
        width:20%
    }
    aside {
        clear: both;
    } 
    footer {
        background: #222;
        color: #eee;
        text-align: center;
        padding: 0.5em;
        font-size: 0.9em;
        flex-shrink: 0;
    }
/**/
