.div1{
    background-color: greenyellow;
    font-weight:bold;
}

.div2 div{
    background-color: aqua;
    font-weight:bold;
}

.div3 > .div4 {
    background-color:yellow;
}

h1{
    text-align:center;
}

header {
    position:sticky;
    top: 0;
    background-color:aquamarine;
    text-align:center;
    position:relative;
    z-index:2;
}
header::before{
    position:sticky;
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 8px black;
    z-index:-1;
}
header::after{
    position:sticky;
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 8px black;
    z-index:-1;
}
.line-center-span{
    position:sticky;
    margin:0;padding:0 10px;
    background:aquamarine;
    display:inline-block;
}


.left-nav-col{
    display:grid;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:8;
    height:100%;
    background-color: aqua;/*color to test*/
    position:relative;
}

.left-nav-bar-list{
    font-weight:bold;
}

img:hover{
    cursor:crosshair;
}

legend {
    font-weight:bold;
}

.wrap-div {
    border: 5px solid blue;
    display: block;
    width: 88px;
    height: 88px;
}

.box{
    padding:24px;
    border:1px;
    margin:24px;
    width:150px;
    height:150px;
    text-align:center;
}

.content-box{
    box-sizing:content-box;
    background:gold;
}

.border-box{
    box-sizing:border-box;
    background:aqua;
}

.sticky-footer{
  flex: 0 0 auto;
  display: flex;
  margin: 1em;
  width: 80%;
  border: 1px solid #000;
  justify-content: space-between;
}