<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="results-container"></div>
    <div>
        <form id="user-form">
          
            <label for="name">
                Name: 
                <input type="text" id="name" name="name">
            </label>
            <label for="email">
                Email:
                <input type="email" id="email" name="email">
            </label>
            <button type="submit">Create User</button>
         
        </form>
        <form id="todo-form">
            <label for="task">
                Task:
                <input type="text" id="task" name="task">
            </label>
            <label for="completion_status">
                Completion Status:
                <input type="checkbox" id="completion_status" name="completion_status">
            </label>
            <button type="submit">Add ToDo</button>
        </form>
    </div>
    <script src="./script.js"></script>
</body>
</html>